:root {}
  
  ::selection {background: #050607; color: #FFFFFF; text-shadow: none;}
  /*::-webkit-scrollbar {width:10px;background-color: #F5F5F5;}
  ::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display:none;}
  ::-webkit-scrollbar-track-piece {background-color: #dedede;}
  ::-webkit-scrollbar-thumb:vertical {background-color: #03132b;}*/
  
  [class^="box-"] {display:none}
  [class^="box-"].showfirst {display:block}
  
  body {}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {display: block;font-weight: 700;line-height: 1.13;}
  p {font-family: 'Open Sans', sans-serif;display: block;color: #080c17;}
  *:hover,
  *:focus,
  * {outline: none !important;}
  img {max-width: 100%; height: auto;}
  a,
  input[type="submit"] {-webkit-transition: all 0.4s ease-In-out; -moz-transition: all 0.4s ease-In-out; -o-transition: all 0.4s ease-In-out; transition: all 0.4s ease-In-out; display: inline-block; cursor: pointer;}
  p,
  a {font-size: 14px;font-weight: 400;text-decoration: none;}
  a:hover {text-decoration: none;}
  
  .slick-dots {display: block;position: absolute;bottom: -20px;left: 0;right: 0;margin: auto;display: flex !important;justify-content: center;}
  .slick-dots > li {display: inline-block;margin: 0 8px;}
  .slick-dots > li button {padding: 0;font-size: 0;width: 13px;height: 13px;background-color: transparent;border-radius: 50px;position: relative;border: 1px solid #FFFFFF;}
  .slick-dots > li button::before {content: '';position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;display: flex;align-items: center;justify-content: center;background-color: #000000;width: 7px;height: 7px;border-radius: 50px;}
  .slick-dots > li.slick-active button::before {background-color: var(--primary-color);}
  .slick-dots > li.slick-active button {border-color: var(--primary-color);}
  
  .slick-arrow {font-size: 0;cursor: pointer;}
  .slick-prev {left: 0;}
  .slick-next {right: 0;}
  
  textarea,
  select,
  input[type],
  textarea,
  select,
  button {
      width: 100%;
  }
  ::-webkit-input-placeholder {color: #3b3b3b }
  ::-moz-placeholder {color: #3b3b3b }
  :-ms-input-placeholder {color: #3b3b3b }
  :-moz-placeholder {color: #3b3b3b }
  
  
  /* Custom Radio Button */
  .customradio {display: inline-block;position:  relative;padding-left: 25px;margin-bottom: 0px;cursor: pointer;font-size: 15px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;vertical-align:  middle;font-weight: 400;color: #FFFFFF;}
  .customradio input {position: absolute; opacity: 0; cursor: pointer;}
  .checkmark {position: absolute;top: 4px;left: 0;height: 11px;width: 11px;border-radius: 3px;background-color: #e0e0e0;}
  .customradio input:checked ~ .checkmark {background: #ff6101;}
  
  
  /* Hamburger Menu */
  .hamburger {width: 30px;height: 20px;cursor: pointer;position: absolute;right: 15px;top: 0px;bottom: 0px;margin: auto;z-index: 8;display: none;}
  .hamburger span {display: block;height: 4px;width: 100%;background: #f94452; position: absolute;transition: .6s all;border-radius: 100px;}
  .hamburger span:nth-child(1) {top: 0;}
  .hamburger span:nth-child(2) {top: 8px;transform-origin: left;}
  .hamburger span:nth-child(3) {top: 16px;}
  .hamburger.active span:nth-child(1) {transform: rotate(45deg); top: 12px;transform-origin: right-center;}
  .hamburger.active span:nth-child(2) {width: 0;opacity: 0;}
  .hamburger.active span:nth-child(3) {transform: rotate(-45deg);top: 12px;transform-origin: right-center;}
  
  
  /* Global Css */
  .ovrer-hidden {overflow: hidden;}
  .overlay::after {content: '';position: fixed;width: 100%;height: 100%;left: 0;top: 0;background: rgb(3 19 43 / 90%);z-index: 4;}
  .overlay {display: none;}
  
  
  /* Dropdown CSS*/
  ul.dropdown {position: absolute;width: 200px;left: -47px;margin: auto;background: #FFFFFF;padding: 20px 15px 10px;text-align: left;border-radius: 5px;box-shadow: 0 0 10px 3px #00000014;opacity: 0;animation: btotreverse 0.5s forwards;}
  ul.dropdown li a:before {display: none;}
  @keyframes btotreverse {
      0% {top: 75px; opacity: 1;}
      100% {top: 115px; opacity: 0;}
  }
  
  .dropdown-nav:hover ul.dropdown {animation: btot 0.5s forwards; z-index: 9;}
  
  @keyframes btot {
    0% {top: 115px; opacity: 0;}
    100% {top: 24px; opacity: 1;}
  }
  
  ul.dropdown li {width: 100%; display: inline-block; vertical-align: middle;}
  ul.dropdown li a {padding: 0;font-size: 13px;text-transform: capitalize;color: #000 !important;display: block;width: 100%;margin: 0px 0 10px;text-align: center;font-weight: 500;}
  ul.dropdown li a:hover {color: rgba(0,0,0,0.5) !important;}
  .dropdown-nav {position: relative; overflow: hidden; vertical-align: middle;}
  .dropdown-nav:hover {overflow: visible;}
  
  /* General CSS  */
  
  ul.inline-block li {display: inline-block;margin-right: 15px;}
  ul.inline-block li:last-child {margin-right: 0;}

a {font-family:var(--header-anchor);text-transform: uppercase;}
.color-blk a{color: var(--color-anchor);font-size: var(--header-anchor-font-size);}
.color-blk ul {padding: 0;margin: 0;}
.color-blk li {display: inline-block;margin: 0 10px;}
.header_inner .container{max-width:var(--header-container-width);}
header .row{align-items: var(--row-flex-property);}
.color-blk ul{display: var(--nav-ul-flex);justify-content: var(--nav-flex-center);}
.mobile_logo {display: var(--nav-ul-flex);justify-content: center;}
.header_inner {padding: 10px 0;}
.style1-btn {border: var(--border-width);padding: 8px 25px;border-radius: var(--border-radius-four);transition: var(--animation-transition);}
li.bar-nav {display: var(--nav-ul-flex);align-items: var(--row-flex-property);background-color: #404041;padding: 0 16px;border-radius: var(--border-radius-four);}
li.bar-nav i {color: var(--color-white);}
.header-button .style1-btn:hover {background-color: var(--background-color-blue);border-color: var(--border-color-blue);color: var(--color-white);}
div#slick-slide00{margin: 0 ;background-color: var(--background-color-blue);}
body {overflow-x: hidden;}
div#slick-slide01{margin: 0 ;background-color: var(--background-color-blue);}
div#slick-slide02{margin: 0 ;background-color: var(--background-color-blue);}
div#slick-slide03{margin: 0 ;background-color: var(--background-color-blue);}
#brandlogo-section {text-align: var(--text-align-center);}
.ps_07 {padding: var(--ps70);} 
.ps30 {padding-top: 30px;padding-bottom: 100px;}
.ps70{padding-top: 40px;padding-bottom: 70px;}
.pdlr0{padding: 0;}
.mar-top {margin-top: -70px;}
.ps015 {padding-top: var(--padding-top40);}
.ps-bt60{padding-bottom: 50px;}
.brand-headtext h3{color: var(--color-gray);text-transform: var(--text-transform-uper);font-family: var(--font-proxima);font-size: var(--fnt-size-26px);}
.intro-text-block {text-align: var(--text-align-center);}
.intro-text-block h2 {font-size: 90px;text-transform: var(--text-transform-uper);font-weight: 700;font-family: var(--font-proxima-bold);line-height: 84px;color: var(--color-anchor);letter-spacing: var(--letter-space10);position: var(--position-relative);}
.head-style2 {-webkit-text-stroke: var(--text-stroke-blue);color: var(--color-white);}
.intro-desc p {font-family: var(--font-family-regular);font-size: var(--fnt-siz-30);color: var(--text-color);line-height: var(--line-height-54);text-align: var(--text-align-center)}
.overflow-text h4 {font-family: var(--font-proxima-bold);font-size: var(--font-size240);text-transform: var(--text-transform-uper);line-height: var(--line-height0);-webkit-text-stroke: var(--kit-stroke-3seablue);color: var(--color-white);
letter-spacing: var(--letter-spac10);text-shadow: var(--text-shadow-ovflwtxt);}
.circle-shad {background-color: var(--ciircle-shad-bg);width: 57%;height: 39%;position: var(--position-absolute);top: -22%;left: 23%;}
.oflwtext-right {margin-left: 66%;}
.intro-text-block {text-align: var(--text-align-center); margin-top: -7%;}
.oflwtext-left {margin-left: -1%;}
.heading-style02 a {font-family: var(--font-proxima-bold);font-size:var(--heading-style02-size);line-height:var(--line-height-headstyle02);text-transform: var(--text-transform-uper);margin-bottom: var(--margin-bottom0);color: var(--heading-style02-clr);margin-top: var(--margin-top30);    display: block;}
.heading-style02-img {text-align: var(--text-align-center);}
.custext-left {margin-left: -4%;}
.cus-overflow-text h4 {font-size: var(--font-size240);text-transform: var(--text-transform-uper);font-family: var(--font-proxima-bold);line-height: var(--line-height0);-webkit-text-stroke: var(--webcus-headstyle);color: var(--color-white);letter-spacing: var(--letter-spac10);text-shadow: var(--text-shadow-ovflwtxt);}
.cutext-right {position: var(--position-relative);left: 105px;z-index: -1;}
.cus-cicleshad {background-color: var(--cusciircle-shad-bg);width: 60%;left: 20%;height: 80%;top: -45%;}
.heading-style02 { margin-top: var(--margin-top-headstyle02);margin-bottom: var(--margin-bottom-headstyle02);animation: var(--animation-hedstyle02);}
.head-styl03 h1 {-webkit-text-stroke: 6px #e2e2e2;color: transparent;font-size: 330px;margin-bottom: -210px;font-family: var(--font-proxima-bold);}
.description-customize h4 {font-family: var(--font-proxima-bold);text-transform: var(--text-transform-uper);font-size: 36px;line-height: 90px;}
.des-cus-clr-gre h4 {color: #1BA536;}
.des-cus-clr-blu h4 { color: #02AFFE;}
.des-cus-clr-red h4 {color: #CC3333;}
.des-cus-clr-sky h4 {color: #2AD2C9;}
.clr-red h4{text-shadow: var(--text-shadow-ovflwtxt);-webkit-text-stroke: var(--kit-stroke-lightred);}
.img-margbtm {margin-bottom: 30px;}
.tranform-head {margin-bottom: 100px;}
.pdlr0 img {width: 95%;transition: .9s;}
.pdlr0 img:hover {transform: scale(0.9);}
marquee:after{content:"";background-color:var(--ciircle-shad-bg);width:57%;height:70%;position:var(--position-absolute);top:20px;left:23%;z-index:0}
.btn-size a{text-align:var(--text-align-center);margin-bottom:var(--margin-bottom0);font-size:80px;line-height:0}
.overflow_heading{position:absolute;z-index:-1}
.overflow_heading h4{font-size:140px;text-transform:var(--text-transform-uper);font-family:var(--font-proxima-bold);line-height:normal;-webkit-text-stroke:3px #cdcdcd4a;color:var(--color-white);letter-spacing:var(--letter-spac10);text-shadow:var(--text-shadow-ovflwtxt);margin-bottom:-20px}
.btn-size{margin-bottom:0;padding:150px}
.cta-module-space{border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;padding-bottom:80px;margin-top:40px;margin-bottom:40px}
.anim-blue{-webkit-text-stroke:3px #02affe}
.anim-green{-webkit-text-stroke:3px #1ba536}
.anim-red {-webkit-text-stroke: 3px #CC3333;}
.anim-watergreen {-webkit-text-stroke: 3px #2AD2C9;}
.overflow_heading marquee:before{content:"";background-color:#ffffff6b;width:57%;height:95%;position:var(--position-absolute);top:15px;left:23%;z-index:9;border-radius:300px}
#Service-section .border_width2:hover{background-color:#0064e5}
.overflow-text{margin-bottom:-9%;position:relative}
.overflow_heading marquee:after{opacity:0}
.ai_descblock p{font-family:"Lato Regular";font-size:26px;font-weight:300;color:#a7a7a7;text-transform:lowercase;line-height:42px}
.text_bg{background-color:#d6e2ff;color:#2261ec;padding:0 10px}
.border_width2{border:1px solid #bfbfbf}
.img_size_align{width:80%;margin:0 auto;display:table}
.space_p{padding:40px 20px;margin:50px 0}
.img_marg_botm{margin-bottom:30px}
.serv_left_des h3,.service_btn00 a,.voice_btn a{font-family:var(--font-proxima)}
.voice_btn a{font-size:28px;line-height:0;color:#2261ec;font-weight:600;margin-top:20px}
.serv_left_des h3{text-transform:var(--text-transform-uper);font-size:30px;line-height:41px;font-weight:500}
.service_btn00 a{border:2px solid #404041;display:inline-block;font-size:14px;line-height:20px;padding:14px 27px;font-weight:700;color:#404041;letter-spacing:1px;transition:.9s;border-radius:4px}
#Service-section .border_width2{border:2px solid #404041;margin:0;display:flex;align-items:end;padding:50px 0 50px 40px;transition:.9s}.img_box img{transform:scale(1.25);margin-bottom:-32px}
#Service-section .border_width2:hover .serv_left_des a,#Service-section .border_width2:hover .serv_left_des h3{color:#fff;border-color:#fff}
.clr_black{color:#000}
.ft_cpttextblock h3{font-family:var(--font-proxima);font-size:48px;line-height:50px;font-weight:500;text-transform:var(--text-transform-uper)}
.footer_cpt{border:2px solid #404041;border-radius:4px;padding:15px 70px;margin:40px 0}
.icon_img{margin-left:-45px}
.ft_cptimgblock img{margin-top:-80px}
.ftcpt_btn{margin-top:25px}
.icon_img{margin-left:-45px;margin-bottom:-35px}
.icon_heading h4{font-family:var(--font-proxima);font-size:18px;line-height:20px;color:#2261ec;text-transform:var(--text-transform-uper);letter-spacing:2px}
.icon_email_img{margin-left:-39px;margin-bottom:-27px;margin-top:12px}
.icon_des p,.icon_mail a{font-family:var(--font-family-bold);font-weight:500;font-size:14px;line-height:20px;text-transform:initial;color:#05141b}
.footer_main{background-image:url(http://localhost/BinaroGroupSite/assets/images/elements/ft_bg.png);background-position:center;background-repeat:no-repeat}
.ft_col_heading h4 {font-family: var(--font-proxima-bold);font-size: 16px;letter-spacing: 2px;line-height: 20px;text-transform: var(--text-transform-uper);}
.headclr_blue {color: #0064E5;}
.headclr_green {color: #279F3F;}
.headclr_skyblue h4 {color: #0FB2FD;}
.headclr_seagreen h4 {color: #2AC8C0;}
.headclr_red h4 {color: #D46868;}
.ftmain_link ul {padding: 0;margin: 0;}
.ftmain_link ul li {list-style: none;}
.ft_lastcol{border:2px solid;border-radius:15px;padding:20px 30px;background-color:var(--color-white);height:260px}
.border_blue {border-color: #0064e5;}
.border_green {border-color: #279f3f;}
.border_skyblue { border-color: #0fb2fd;}
.border_seagreen {border-color: #2ac8c0;}
.border_red {border-color: #d66868;}
.ft_space {padding: 30px 0 80px 0;}
.ftmain_link a{font-family:var(--font-family-lato-bld);font-weight:500;font-size:14px;line-height:23px;color:#05141b;text-transform:initial}
.copyright_links ul{margin:0;padding:0}
.copyright_links li{list-style:none;display:inline-block;border-left:1px solid;padding:0 21px}
.copyright_block p,.copyright_links li a{font-family:var(--font-family-lato-bld);font-weight:500;font-size:14px;line-height:20px;color:#000;text-transform:inherit}
.copyright_links li:first-child{border:0}
.copy_right_sect{text-align:center}
.copyright_block{padding:20px 0 20px 0;}
.copyright_block p{margin:0}



@keyframes fadeInRight{0%{opacity:0;transform:translateX(900px)}to{opacity:1}}
